
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3 {
  color: #1e3a8a; /* Dark blue for headings */
}

button {
  background-color: #3b82f6; /* Blue background for buttons */
  color: white; /* White text for buttons */
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2563eb; /* Darker blue on hover */
}
